﻿.comment {
    color : #708090;
}

.keyword {
    color: #07a;
}

.function {
    color: #DD4A68;
}

.punctuation {
    color: #999;
}
.operator {
    background-color: transparent;
}

.string {
    color: #690;
}

h2 {
    font-family: initial;
    color: #05345E;
    background-color: #f10088;
}

.code {
    white-space: pre-wrap;
    font-family: 'Source Code Pro', sans-serif;
}
